<form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <app-ui-input
      label="Titre de l'événement"
      [id]="'name'"
      formControlName="name"
      placeholder="Ex: Atelier de formation entrepreneuriale" />
    <app-ui-input label="Lieu de l'événement" [id]="'place'" formControlName="place" placeholder="Ex: Kinshasa, RDC" />
    <app-ui-input
      label="Durée estimée (en heures)"
      [id]="'duration_hours'"
      type="number"
      formControlName="duration_hours"
      placeholder="Ex: 8" />
    <app-ui-select
      [filter]="true"
      label="Programme associé"
      [id]="'program'"
      formControlName="program"
      placeholder="Sélectionner un programme" />
    <app-ui-select
      [id]="'event_manager'"
      label="Responsable de l'événement"
      formControlName="event_manager"
      placeholder="Sélectionner un responsable" />
    <app-ui-multi-select
      label="Catégories"
      [id]="'categories'"
      formControlName="categories"
      placeholder="Choisir une ou plusieurs catégories" />

    <div class="grid grid-cols-1 gap-6 col-span-2">
      <app-ui-textarea
        label="Présentation générale"
        [id]="'description'"
        [rows]="6"
        formControlName="description"
        placeholder="Présentez l'événement de manière claire et concise..." />
      <app-ui-textarea
        label="Contexte et justification"
        [id]="'context'"
        [rows]="6"
        formControlName="context"
        placeholder="Décrivez le contexte dans lequel s'inscrit cet événement..." />
      <app-ui-textarea
        label="Objectifs visés"
        [id]="'objectives'"
        [rows]="6"
        formControlName="objectives"
        placeholder="Listez les objectifs principaux et les résultats attendus..." />
      <app-ui-textarea
        label="Critères d'éligibilité"
        [id]="'selection_criteria'"
        [rows]="6"
        formControlName="selection_criteria"
        placeholder="Définissez les conditions d'accès et les prérequis..." />
    </div>
  </div>
  <div class="flex justify-end gap-3 mt-8 pt-6 border-t border-gray-200">
    <app-ui-button
      [size]="'small'"
      [loading]="store.isLoading()"
      [disabled]="store.isLoading() || form.invalid"
      variant="primary"
      type="submit">
      {{ store.isLoading() ? 'Modification...' : "Modifier l'événement" }}
    </app-ui-button>
  </div>
</form>
